<a href="https://colab.research.google.com/github/ChristoRay/ChrisPortofolioForDS/blob/main/Fifa_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [64]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [65]:
df = pd.read_csv('/content/data_awal.csv')
df.head()

   Unnamed: 0      ID  ... GKReflexes  Release Clause
0           0  158023  ...        8.0         €226.5M
1           1   20801  ...       11.0         €127.1M
2           2  190871  ...       11.0         €228.1M
3           3  193080  ...       94.0         €138.6M
4           4  192985  ...       13.0         €196.4M

[5 rows x 89 columns]

# Data Preprocessing

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 89 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                18207 non-null  int64
 1   ID                        18207 non-null  int64
 2   Name                      18207 non-null  object
 3   Age                       18207 non-null  int64
 4   Photo                     18207 non-null  object
 5   Nationality               18207 non-null  object
 6   Flag                      18207 non-null  object
 7   Overall                   18207 non-null  int64
 8   Potential                 18207 non-null  int64
 9   Club                      17966 non-null  object
 10  Club Logo                 18207 non-null  object
 11  Value                     18207 non-null  object
 12  Wage                      18207 non-null  object
 13  Special                   18207 non-null  int64
 14  Preferred Foot            18159 non-null  object
 15  International Reputation  18159 non-null  float64
 16  Weak Foot                 18159 non-null  float64
 17  Skill Moves               18159 non-null  float64
 18  Work Rate                 18159 non-null  object
 19  Body Type                 18159 non-null  object
 20  Real Face                 18159 non-null  object
 21  Position                  18147 non-null  object
 22  Jersey Number             18147 non-null  float64
 23  Joined                    16654 non-null  object
 24  Loaned From               1264 non-null   object
 25  Contract Valid Until      17918 non-null  object
 26  Height                    18159 non-null  object
 27  Weight                    18159 non-null  object
 28  LS                        16122 non-null  object
 29  ST                        16122 non-null  object
 30  RS                        16122 non-null  object
 31  LW                        16122 non-null  object
 32  LF                        16122 non-null  object
 33  CF                        16122 non-null  object
 34  RF                        16122 non-null  object
 35  RW                        16122 non-null  object
 36  LAM                       16122 non-null  object
 37  CAM                       16122 non-null  object
 38  RAM                       16122 non-null  object
 39  LM                        16122 non-null  object
 40  LCM                       16122 non-null  object
 41  CM                        16122 non-null  object
 42  RCM                       16122 non-null  object
 43  RM                        16122 non-null  object
 44  LWB                       16122 non-null  object
 45  LDM                       16122 non-null  object
 46  CDM                       16122 non-null  object
 47  RDM                       16122 non-null  object
 48  RWB                       16122 non-null  object
 49  LB                        16122 non-null  object
 50  LCB                       16122 non-null  object
 51  CB                        16122 non-null  object
 52  RCB                       16122 non-null  object
 53  RB                        16122 non-null  object
 54  Crossing                  18159 non-null  float64
 55  Finishing                 18159 non-null  float64
 56  HeadingAccuracy           18159 non-null  float64
 57  ShortPassing              18159 non-null  float64
 58  Volleys                   18159 non-null  float64
 59  Dribbling                 18159 non-null  float64
 60  Curve                     18159 non-null  float64
 61  FKAccuracy                18159 non-null  float64
 62  LongPassing               18159 non-null  float64
 63  BallControl               18159 non-null  float64
 64  Acceleration              18159 non-null  float64
 65  SprintSpeed               18159 non-null  float64
 66  Agility                   18159 non-null  float64
 67  Reactions                 18159 non-null  float64
 68  Balance                   18159 non-null  float64
 69  ShotPower                 18159 non-null  float64
 70  Jumping                   18159 non-null  float64
 71  Stamina                   18159 non-null  float64
 72  Strength                  18159 non-null  float64
 73  LongShots                 18159 non-null  float64
 74  Aggression                18159 non-null  float64
 75  Interceptions             18159 non-null  float64
 76  Positioning               18159 non-null  float64
 77  Vision                    18159 non-null  float64
 78  Penalties                 18159 non-null  float64
 79  Composure                 18159 non-null  float64
 80  Marking                   18159 non-null  float64
 81  StandingTackle            18159 non-null  float64
 82  SlidingTackle             18159 non-null  float64
 83  GKDiving                  18159 non-null  float64
 84  GKHandling                18159 non-null  float64
 85  GKKicking                 18159 non-null  float64
 86  GKPositioning             18159 non-null  float64
 87  GKReflexes                18159 non-null  float64
 88  Release Clause            16643 non-null  object
dtypes: float64(38), int64(6), object(45)
memory usage: 12.4+ MB

In [67]:
df.columns

Index(['Unnamed: 0', 'ID', 'Name', 'Age', 'Photo', 'Nationality', 'Flag',
       'Overall', 'Potential', 'Club', 'Club Logo', 'Value', 'Wage', 'Special',
       'Preferred Foot', 'International Reputation', 'Weak Foot',
       'Skill Moves', 'Work Rate', 'Body Type', 'Real Face', 'Position',
       'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until',
       'Height', 'Weight', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW',
       'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM',
       'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'Crossing',
       'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling',
       'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling',
       'GKKicking', 'GKPositioning', 'GKReflexes', 'Release Clause'],
      dtype='object')

In [68]:
#Drop unecessary column that we'll definitely not use
df.drop(columns = ['ID','Photo','Flag', 'Club Logo', 'Real Face', 'Contract Valid Until'], inplace = True)
df.head()

   Unnamed: 0               Name  ...  GKReflexes Release Clause
0           0           L. Messi  ...         8.0        €226.5M
1           1  Cristiano Ronaldo  ...        11.0        €127.1M
2           2          Neymar Jr  ...        11.0        €228.1M
3           3             De Gea  ...        94.0        €138.6M
4           4       K. De Bruyne  ...        13.0        €196.4M

[5 rows x 83 columns]

In [69]:
#check the results
df.info()
'''
we can inferr that, some columns are better of in float/integer dtype and data 
frame needs to be separated between outfield player and GK
'''

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 83 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                18207 non-null  int64
 1   Name                      18207 non-null  object
 2   Age                       18207 non-null  int64
 3   Nationality               18207 non-null  object
 4   Overall                   18207 non-null  int64
 5   Potential                 18207 non-null  int64
 6   Club                      17966 non-null  object
 7   Value                     18207 non-null  object
 8   Wage                      18207 non-null  object
 9   Special                   18207 non-null  int64
 10  Preferred Foot            18159 non-null  object
 11  International Reputation  18159 non-null  float64
 12  Weak Foot                 18159 non-null  float64
 13  Skill Moves               18159 non-null  float64
 14  Work Rate                 18159 non-null  object
 15  Body Type                 18159 non-null  object
 16  Position                  18147 non-null  object
 17  Jersey Number             18147 non-null  float64
 18  Joined                    16654 non-null  object
 19  Loaned From               1264 non-null   object
 20  Height                    18159 non-null  object
 21  Weight                    18159 non-null  object
 22  LS                        16122 non-null  object
 23  ST                        16122 non-null  object
 24  RS                        16122 non-null  object
 25  LW                        16122 non-null  object
 26  LF                        16122 non-null  object
 27  CF                        16122 non-null  object
 28  RF                        16122 non-null  object
 29  RW                        16122 non-null  object
 30  LAM                       16122 non-null  object
 31  CAM                       16122 non-null  object
 32  RAM                       16122 non-null  object
 33  LM                        16122 non-null  object
 34  LCM                       16122 non-null  object
 35  CM                        16122 non-null  object
 36  RCM                       16122 non-null  object
 37  RM                        16122 non-null  object
 38  LWB                       16122 non-null  object
 39  LDM                       16122 non-null  object
 40  CDM                       16122 non-null  object
 41  RDM                       16122 non-null  object
 42  RWB                       16122 non-null  object
 43  LB                        16122 non-null  object
 44  LCB                       16122 non-null  object
 45  CB                        16122 non-null  object
 46  RCB                       16122 non-null  object
 47  RB                        16122 non-null  object
 48  Crossing                  18159 non-null  float64
 49  Finishing                 18159 non-null  float64
 50  HeadingAccuracy           18159 non-null  float64
 51  ShortPassing              18159 non-null  float64
 52  Volleys                   18159 non-null  float64
 53  Dribbling                 18159 non-null  float64
 54  Curve                     18159 non-null  float64
 55  FKAccuracy                18159 non-null  float64
 56  LongPassing               18159 non-null  float64
 57  BallControl               18159 non-null  float64
 58  Acceleration              18159 non-null  float64
 59  SprintSpeed               18159 non-null  float64
 60  Agility                   18159 non-null  float64
 61  Reactions                 18159 non-null  float64
 62  Balance                   18159 non-null  float64
 63  ShotPower                 18159 non-null  float64
 64  Jumping                   18159 non-null  float64
 65  Stamina                   18159 non-null  float64
 66  Strength                  18159 non-null  float64
 67  LongShots                 18159 non-null  float64
 68  Aggression                18159 non-null  float64
 69  Interceptions             18159 non-null  float64
 70  Positioning               18159 non-null  float64
 71  Vision                    18159 non-null  float64
 72  Penalties                 18159 non-null  float64
 73  Composure                 18159 non-null  float64
 74  Marking                   18159 non-null  float64
 75  StandingTackle            18159 non-null  float64
 76  SlidingTackle             18159 non-null  float64
 77  GKDiving                  18159 non-null  float64
 78  GKHandling                18159 non-null  float64
 79  GKKicking                 18159 non-null  float64
 80  GKPositioning             18159 non-null  float64
 81  GKReflexes                18159 non-null  float64
 82  Release Clause            16643 non-null  object
dtypes: float64(38), int64(5), object(40)
memory usage: 11.5+ MB

'\nwe can inferr that, some columns are better of in float/integer dtype and data \nframe needs to be separated between outfield player and GK\n'

In [70]:
df['Position'].unique()

array(['RF', 'ST', 'LW', 'GK', 'RCM', 'LF', 'RS', 'RCB', 'LCM', 'CB',
       'LDM', 'CAM', 'CDM', 'LS', 'LCB', 'RM', 'LAM', 'LM', 'LB', 'RDM',
       'RW', 'CM', 'RB', 'RAM', 'CF', 'RWB', 'LWB', nan], dtype=object)

In [71]:
#since some players doesn't have postion, we drop these players
df.dropna(subset=['Position'], inplace = True)
df['Position'].unique()

array(['RF', 'ST', 'LW', 'GK', 'RCM', 'LF', 'RS', 'RCB', 'LCM', 'CB',
       'LDM', 'CAM', 'CDM', 'LS', 'LCB', 'RM', 'LAM', 'LM', 'LB', 'RDM',
       'RW', 'CM', 'RB', 'RAM', 'CF', 'RWB', 'LWB'], dtype=object)

In [72]:
df_outfield = df[df['Position']!='GK'].copy()
df_GK = df[df['Position']=='GK'].copy()

In [73]:
df_outfield.head()

   Unnamed: 0               Name  ...  GKReflexes Release Clause
0           0           L. Messi  ...         8.0        €226.5M
1           1  Cristiano Ronaldo  ...        11.0        €127.1M
2           2          Neymar Jr  ...        11.0        €228.1M
4           4       K. De Bruyne  ...        13.0        €196.4M
5           5          E. Hazard  ...         8.0        €172.1M

[5 rows x 83 columns]

In [74]:
df_GK.head()

    Unnamed: 0           Name  Age  ... GKPositioning  GKReflexes  Release Clause
3            3         De Gea   27  ...          88.0        94.0         €138.6M
9            9       J. Oblak   25  ...          88.0        89.0         €144.5M
18          18  M. ter Stegen   26  ...          85.0        90.0         €123.3M
19          19    T. Courtois   26  ...          86.0        88.0         €113.7M
22          22       M. Neuer   32  ...          87.0        87.0          €62.7M

[5 rows x 83 columns]

## Preprocessing on Outfield DF

In [75]:
df_outfield.head()

   Unnamed: 0               Name  ...  GKReflexes Release Clause
0           0           L. Messi  ...         8.0        €226.5M
1           1  Cristiano Ronaldo  ...        11.0        €127.1M
2           2          Neymar Jr  ...        11.0        €228.1M
4           4       K. De Bruyne  ...        13.0        €196.4M
5           5          E. Hazard  ...         8.0        €172.1M

[5 rows x 83 columns]

In [76]:
df_outfield.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16122 entries, 0 to 18206
Data columns (total 83 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                16122 non-null  int64
 1   Name                      16122 non-null  object
 2   Age                       16122 non-null  int64
 3   Nationality               16122 non-null  object
 4   Overall                   16122 non-null  int64
 5   Potential                 16122 non-null  int64
 6   Club                      15926 non-null  object
 7   Value                     16122 non-null  object
 8   Wage                      16122 non-null  object
 9   Special                   16122 non-null  int64
 10  Preferred Foot            16122 non-null  object
 11  International Reputation  16122 non-null  float64
 12  Weak Foot                 16122 non-null  float64
 13  Skill Moves               16122 non-null  float64
 14  Work Rate                 16122 non-null  object
 15  Body Type                 16122 non-null  object
 16  Position                  16122 non-null  object
 17  Jersey Number             16122 non-null  float64
 18  Joined                    14751 non-null  object
 19  Loaned From               1175 non-null   object
 20  Height                    16122 non-null  object
 21  Weight                    16122 non-null  object
 22  LS                        16122 non-null  object
 23  ST                        16122 non-null  object
 24  RS                        16122 non-null  object
 25  LW                        16122 non-null  object
 26  LF                        16122 non-null  object
 27  CF                        16122 non-null  object
 28  RF                        16122 non-null  object
 29  RW                        16122 non-null  object
 30  LAM                       16122 non-null  object
 31  CAM                       16122 non-null  object
 32  RAM                       16122 non-null  object
 33  LM                        16122 non-null  object
 34  LCM                       16122 non-null  object
 35  CM                        16122 non-null  object
 36  RCM                       16122 non-null  object
 37  RM                        16122 non-null  object
 38  LWB                       16122 non-null  object
 39  LDM                       16122 non-null  object
 40  CDM                       16122 non-null  object
 41  RDM                       16122 non-null  object
 42  RWB                       16122 non-null  object
 43  LB                        16122 non-null  object
 44  LCB                       16122 non-null  object
 45  CB                        16122 non-null  object
 46  RCB                       16122 non-null  object
 47  RB                        16122 non-null  object
 48  Crossing                  16122 non-null  float64
 49  Finishing                 16122 non-null  float64
 50  HeadingAccuracy           16122 non-null  float64
 51  ShortPassing              16122 non-null  float64
 52  Volleys                   16122 non-null  float64
 53  Dribbling                 16122 non-null  float64
 54  Curve                     16122 non-null  float64
 55  FKAccuracy                16122 non-null  float64
 56  LongPassing               16122 non-null  float64
 57  BallControl               16122 non-null  float64
 58  Acceleration              16122 non-null  float64
 59  SprintSpeed               16122 non-null  float64
 60  Agility                   16122 non-null  float64
 61  Reactions                 16122 non-null  float64
 62  Balance                   16122 non-null  float64
 63  ShotPower                 16122 non-null  float64
 64  Jumping                   16122 non-null  float64
 65  Stamina                   16122 non-null  float64
 66  Strength                  16122 non-null  float64
 67  LongShots                 16122 non-null  float64
 68  Aggression                16122 non-null  float64
 69  Interceptions             16122 non-null  float64
 70  Positioning               16122 non-null  float64
 71  Vision                    16122 non-null  float64
 72  Penalties                 16122 non-null  float64
 73  Composure                 16122 non-null  float64
 74  Marking                   16122 non-null  float64
 75  StandingTackle            16122 non-null  float64
 76  SlidingTackle             16122 non-null  float64
 77  GKDiving                  16122 non-null  float64
 78  GKHandling                16122 non-null  float64
 79  GKKicking                 16122 non-null  float64
 80  GKPositioning             16122 non-null  float64
 81  GKReflexes                16122 non-null  float64
 82  Release Clause            14743 non-null  object
dtypes: float64(38), int64(5), object(40)
memory usage: 10.3+ MB

In [77]:
df_outfield.isnull().sum().sort_values(ascending = False)

Loaned From       14947
Release Clause     1379
Joined             1371
Club                196
Name                  0
                  ...
LongPassing           0
BallControl           0
Acceleration          0
SprintSpeed           0
Unnamed: 0            0
Length: 83, dtype: int64

In [78]:
df_outfield.drop(columns= ['Loaned From'], inplace = True)

#check for missing values in each column
df_outfield.isnull().sum().sort_values(ascending = False)

Release Clause    1379
Joined            1371
Club               196
CAM                  0
RS                   0
                  ...
LongPassing          0
BallControl          0
Acceleration         0
SprintSpeed          0
Unnamed: 0           0
Length: 82, dtype: int64

In [79]:
df_outfield.columns
'''
for now, let's rename one of the columns to id, later if we don't need them,
we can just delete
'''
df_outfield.rename(columns = {'Unnamed: 0':'id'}, inplace = True)

In [80]:
df_outfield.head()

   id               Name  Age  ... GKPositioning  GKReflexes  Release Clause
0   0           L. Messi   31  ...          14.0         8.0         €226.5M
1   1  Cristiano Ronaldo   33  ...          14.0        11.0         €127.1M
2   2          Neymar Jr   26  ...          15.0        11.0         €228.1M
4   4       K. De Bruyne   27  ...          10.0        13.0         €196.4M
5   5          E. Hazard   27  ...           8.0         8.0         €172.1M

[5 rows x 82 columns]

In [81]:
df_outfield.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16122 entries, 0 to 18206
Data columns (total 82 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        16122 non-null  int64
 1   Name                      16122 non-null  object
 2   Age                       16122 non-null  int64
 3   Nationality               16122 non-null  object
 4   Overall                   16122 non-null  int64
 5   Potential                 16122 non-null  int64
 6   Club                      15926 non-null  object
 7   Value                     16122 non-null  object
 8   Wage                      16122 non-null  object
 9   Special                   16122 non-null  int64
 10  Preferred Foot            16122 non-null  object
 11  International Reputation  16122 non-null  float64
 12  Weak Foot                 16122 non-null  float64
 13  Skill Moves               16122 non-null  float64
 14  Work Rate                 16122 non-null  object
 15  Body Type                 16122 non-null  object
 16  Position                  16122 non-null  object
 17  Jersey Number             16122 non-null  float64
 18  Joined                    14751 non-null  object
 19  Height                    16122 non-null  object
 20  Weight                    16122 non-null  object
 21  LS                        16122 non-null  object
 22  ST                        16122 non-null  object
 23  RS                        16122 non-null  object
 24  LW                        16122 non-null  object
 25  LF                        16122 non-null  object
 26  CF                        16122 non-null  object
 27  RF                        16122 non-null  object
 28  RW                        16122 non-null  object
 29  LAM                       16122 non-null  object
 30  CAM                       16122 non-null  object
 31  RAM                       16122 non-null  object
 32  LM                        16122 non-null  object
 33  LCM                       16122 non-null  object
 34  CM                        16122 non-null  object
 35  RCM                       16122 non-null  object
 36  RM                        16122 non-null  object
 37  LWB                       16122 non-null  object
 38  LDM                       16122 non-null  object
 39  CDM                       16122 non-null  object
 40  RDM                       16122 non-null  object
 41  RWB                       16122 non-null  object
 42  LB                        16122 non-null  object
 43  LCB                       16122 non-null  object
 44  CB                        16122 non-null  object
 45  RCB                       16122 non-null  object
 46  RB                        16122 non-null  object
 47  Crossing                  16122 non-null  float64
 48  Finishing                 16122 non-null  float64
 49  HeadingAccuracy           16122 non-null  float64
 50  ShortPassing              16122 non-null  float64
 51  Volleys                   16122 non-null  float64
 52  Dribbling                 16122 non-null  float64
 53  Curve                     16122 non-null  float64
 54  FKAccuracy                16122 non-null  float64
 55  LongPassing               16122 non-null  float64
 56  BallControl               16122 non-null  float64
 57  Acceleration              16122 non-null  float64
 58  SprintSpeed               16122 non-null  float64
 59  Agility                   16122 non-null  float64
 60  Reactions                 16122 non-null  float64
 61  Balance                   16122 non-null  float64
 62  ShotPower                 16122 non-null  float64
 63  Jumping                   16122 non-null  float64
 64  Stamina                   16122 non-null  float64
 65  Strength                  16122 non-null  float64
 66  LongShots                 16122 non-null  float64
 67  Aggression                16122 non-null  float64
 68  Interceptions             16122 non-null  float64
 69  Positioning               16122 non-null  float64
 70  Vision                    16122 non-null  float64
 71  Penalties                 16122 non-null  float64
 72  Composure                 16122 non-null  float64
 73  Marking                   16122 non-null  float64
 74  StandingTackle            16122 non-null  float64
 75  SlidingTackle             16122 non-null  float64
 76  GKDiving                  16122 non-null  float64
 77  GKHandling                16122 non-null  float64
 78  GKKicking                 16122 non-null  float64
 79  GKPositioning             16122 non-null  float64
 80  GKReflexes                16122 non-null  float64
 81  Release Clause            14743 non-null  object
dtypes: float64(38), int64(5), object(39)
memory usage: 10.2+ MB

In [82]:
'''since it's outfield player dataframe, we will not need any GK stats. so let's 
drop them and also, since we subset this dataframe from the original, might 
aswell reset the index'''
df_outfield.drop(columns =['id','GKHandling','GKDiving','GKKicking','GKPositioning','GKReflexes']
                 ,inplace = True)
df_outfield.reset_index(drop = True, inplace = True)
df_outfield.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16122 entries, 0 to 16121
Data columns (total 76 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      16122 non-null  object
 1   Age                       16122 non-null  int64
 2   Nationality               16122 non-null  object
 3   Overall                   16122 non-null  int64
 4   Potential                 16122 non-null  int64
 5   Club                      15926 non-null  object
 6   Value                     16122 non-null  object
 7   Wage                      16122 non-null  object
 8   Special                   16122 non-null  int64
 9   Preferred Foot            16122 non-null  object
 10  International Reputation  16122 non-null  float64
 11  Weak Foot                 16122 non-null  float64
 12  Skill Moves               16122 non-null  float64
 13  Work Rate                 16122 non-null  object
 14  Body Type                 16122 non-null  object
 15  Position                  16122 non-null  object
 16  Jersey Number             16122 non-null  float64
 17  Joined                    14751 non-null  object
 18  Height                    16122 non-null  object
 19  Weight                    16122 non-null  object
 20  LS                        16122 non-null  object
 21  ST                        16122 non-null  object
 22  RS                        16122 non-null  object
 23  LW                        16122 non-null  object
 24  LF                        16122 non-null  object
 25  CF                        16122 non-null  object
 26  RF                        16122 non-null  object
 27  RW                        16122 non-null  object
 28  LAM                       16122 non-null  object
 29  CAM                       16122 non-null  object
 30  RAM                       16122 non-null  object
 31  LM                        16122 non-null  object
 32  LCM                       16122 non-null  object
 33  CM                        16122 non-null  object
 34  RCM                       16122 non-null  object
 35  RM                        16122 non-null  object
 36  LWB                       16122 non-null  object
 37  LDM                       16122 non-null  object
 38  CDM                       16122 non-null  object
 39  RDM                       16122 non-null  object
 40  RWB                       16122 non-null  object
 41  LB                        16122 non-null  object
 42  LCB                       16122 non-null  object
 43  CB                        16122 non-null  object
 44  RCB                       16122 non-null  object
 45  RB                        16122 non-null  object
 46  Crossing                  16122 non-null  float64
 47  Finishing                 16122 non-null  float64
 48  HeadingAccuracy           16122 non-null  float64
 49  ShortPassing              16122 non-null  float64
 50  Volleys                   16122 non-null  float64
 51  Dribbling                 16122 non-null  float64
 52  Curve                     16122 non-null  float64
 53  FKAccuracy                16122 non-null  float64
 54  LongPassing               16122 non-null  float64
 55  BallControl               16122 non-null  float64
 56  Acceleration              16122 non-null  float64
 57  SprintSpeed               16122 non-null  float64
 58  Agility                   16122 non-null  float64
 59  Reactions                 16122 non-null  float64
 60  Balance                   16122 non-null  float64
 61  ShotPower                 16122 non-null  float64
 62  Jumping                   16122 non-null  float64
 63  Stamina                   16122 non-null  float64
 64  Strength                  16122 non-null  float64
 65  LongShots                 16122 non-null  float64
 66  Aggression                16122 non-null  float64
 67  Interceptions             16122 non-null  float64
 68  Positioning               16122 non-null  float64
 69  Vision                    16122 non-null  float64
 70  Penalties                 16122 non-null  float64
 71  Composure                 16122 non-null  float64
 72  Marking                   16122 non-null  float64
 73  StandingTackle            16122 non-null  float64
 74  SlidingTackle             16122 non-null  float64
 75  Release Clause            14743 non-null  object
dtypes: float64(33), int64(4), object(39)
memory usage: 9.3+ MB

In [83]:
#check the height and weight column, and see how we'll tackle this column
df_outfield[['Height','Weight']].head()

  Height  Weight
0    5'7  159lbs
1    6'2  183lbs
2    5'9  150lbs
3   5'11  154lbs
4    5'8  163lbs

In [84]:
#to change it to cm, we can use split like this
df_outfield['Height'].str.split("'")[0]

['5', '7']

In [85]:
'''now, since the height column is not in the right datatype, we'll change it to 
cm using a function'''
def ConvertHeight(x):
  #The column values should look something like this 5'7
   ht_ = x.split("'")
   ft_ = round(float((ht_[0])),2) * 12 * 2.54
   in_ = round(float((ht_[1])),2) * 2.54
   return (ft_ + in_)

df_outfield['Height'] = df_outfield['Height'].apply(lambda x : ConvertHeight(x))
df_outfield['Height'].head()

0    170.18
1    187.96
2    175.26
3    180.34
4    172.72
Name: Height, dtype: float64

In [86]:
#now on to the next one
print(df_outfield['Weight'].head())

0    159lbs
1    183lbs
2    150lbs
3    154lbs
4    163lbs
Name: Weight, dtype: object

In [87]:
#check whether each column ends with lbs
df_outfield['Weight'].str.contains('lbs').sum()
#since this is the case, then we'll use string manipulation

16122

In [88]:
#let's convert it to Kg
df_outfield['Weight'] = df_outfield['Weight'].str[:-3].astype(float)
df_outfield['Weight'] = round(df_outfield['Weight'] * 0.453592,2)
df_outfield['Weight'].head()

0    72.12
1    83.01
2    68.04
3    69.85
4    73.94
Name: Weight, dtype: float64

In [89]:
df_outfield.info()
#looks like both weight and height column are already in the correct dtype

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16122 entries, 0 to 16121
Data columns (total 76 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      16122 non-null  object
 1   Age                       16122 non-null  int64
 2   Nationality               16122 non-null  object
 3   Overall                   16122 non-null  int64
 4   Potential                 16122 non-null  int64
 5   Club                      15926 non-null  object
 6   Value                     16122 non-null  object
 7   Wage                      16122 non-null  object
 8   Special                   16122 non-null  int64
 9   Preferred Foot            16122 non-null  object
 10  International Reputation  16122 non-null  float64
 11  Weak Foot                 16122 non-null  float64
 12  Skill Moves               16122 non-null  float64
 13  Work Rate                 16122 non-null  object
 14  Body Type                 16122 non-null  object
 15  Position                  16122 non-null  object
 16  Jersey Number             16122 non-null  float64
 17  Joined                    14751 non-null  object
 18  Height                    16122 non-null  float64
 19  Weight                    16122 non-null  float64
 20  LS                        16122 non-null  object
 21  ST                        16122 non-null  object
 22  RS                        16122 non-null  object
 23  LW                        16122 non-null  object
 24  LF                        16122 non-null  object
 25  CF                        16122 non-null  object
 26  RF                        16122 non-null  object
 27  RW                        16122 non-null  object
 28  LAM                       16122 non-null  object
 29  CAM                       16122 non-null  object
 30  RAM                       16122 non-null  object
 31  LM                        16122 non-null  object
 32  LCM                       16122 non-null  object
 33  CM                        16122 non-null  object
 34  RCM                       16122 non-null  object
 35  RM                        16122 non-null  object
 36  LWB                       16122 non-null  object
 37  LDM                       16122 non-null  object
 38  CDM                       16122 non-null  object
 39  RDM                       16122 non-null  object
 40  RWB                       16122 non-null  object
 41  LB                        16122 non-null  object
 42  LCB                       16122 non-null  object
 43  CB                        16122 non-null  object
 44  RCB                       16122 non-null  object
 45  RB                        16122 non-null  object
 46  Crossing                  16122 non-null  float64
 47  Finishing                 16122 non-null  float64
 48  HeadingAccuracy           16122 non-null  float64
 49  ShortPassing              16122 non-null  float64
 50  Volleys                   16122 non-null  float64
 51  Dribbling                 16122 non-null  float64
 52  Curve                     16122 non-null  float64
 53  FKAccuracy                16122 non-null  float64
 54  LongPassing               16122 non-null  float64
 55  BallControl               16122 non-null  float64
 56  Acceleration              16122 non-null  float64
 57  SprintSpeed               16122 non-null  float64
 58  Agility                   16122 non-null  float64
 59  Reactions                 16122 non-null  float64
 60  Balance                   16122 non-null  float64
 61  ShotPower                 16122 non-null  float64
 62  Jumping                   16122 non-null  float64
 63  Stamina                   16122 non-null  float64
 64  Strength                  16122 non-null  float64
 65  LongShots                 16122 non-null  float64
 66  Aggression                16122 non-null  float64
 67  Interceptions             16122 non-null  float64
 68  Positioning               16122 non-null  float64
 69  Vision                    16122 non-null  float64
 70  Penalties                 16122 non-null  float64
 71  Composure                 16122 non-null  float64
 72  Marking                   16122 non-null  float64
 73  StandingTackle            16122 non-null  float64
 74  SlidingTackle             16122 non-null  float64
 75  Release Clause            14743 non-null  object
dtypes: float64(35), int64(4), object(37)
memory usage: 9.3+ MB

In [90]:
#another columns that needs to change are Values, Wage and Release Clause
df_outfield[['Value','Wage','Release Clause']].head()

     Value   Wage Release Clause
0  €110.5M  €565K        €226.5M
1     €77M  €405K        €127.1M
2  €118.5M  €290K        €228.1M
3    €102M  €355K        €196.4M
4     €93M  €340K        €172.1M

In [91]:
'''
since for value column ends with either M or K, we need to check if it's
consistent all the way 
'''
nominals = df_outfield['Value'].str[-1]
nominals.value_counts()

K    9558
M    6360
0     204
Name: Value, dtype: int64

In [92]:
#looks like that column ends with either M K or 0
df_outfield['Value'].str.contains('M|K|0').sum()

16122

In [93]:
df_outfield[df_outfield['Value'].str[-1]=='0']
'''
players with value ends with 0 means they have no value
'''

'\nplayers with value ends with 0 means they have no value\n'

In [94]:
'''
just like before, we'll make a function to convert it and apply it to each 
column
'''
def EuroConvert(x):
  # format : Eurosign .... K/M/0
  l = len(x)
  end = x[-1]
  if end == 'M' :
    value = float (x[1:l-1]) * 1000000
  elif end == 'K' :
    value = value = float (x[1:l-1]) * 1000
  else :
    value = 0
  return value

df_outfield['Value'] = df_outfield['Value'].apply(lambda x: EuroConvert(x))

In [95]:
df_outfield.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16122 entries, 0 to 16121
Data columns (total 76 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      16122 non-null  object
 1   Age                       16122 non-null  int64
 2   Nationality               16122 non-null  object
 3   Overall                   16122 non-null  int64
 4   Potential                 16122 non-null  int64
 5   Club                      15926 non-null  object
 6   Value                     16122 non-null  float64
 7   Wage                      16122 non-null  object
 8   Special                   16122 non-null  int64
 9   Preferred Foot            16122 non-null  object
 10  International Reputation  16122 non-null  float64
 11  Weak Foot                 16122 non-null  float64
 12  Skill Moves               16122 non-null  float64
 13  Work Rate                 16122 non-null  object
 14  Body Type                 16122 non-null  object
 15  Position                  16122 non-null  object
 16  Jersey Number             16122 non-null  float64
 17  Joined                    14751 non-null  object
 18  Height                    16122 non-null  float64
 19  Weight                    16122 non-null  float64
 20  LS                        16122 non-null  object
 21  ST                        16122 non-null  object
 22  RS                        16122 non-null  object
 23  LW                        16122 non-null  object
 24  LF                        16122 non-null  object
 25  CF                        16122 non-null  object
 26  RF                        16122 non-null  object
 27  RW                        16122 non-null  object
 28  LAM                       16122 non-null  object
 29  CAM                       16122 non-null  object
 30  RAM                       16122 non-null  object
 31  LM                        16122 non-null  object
 32  LCM                       16122 non-null  object
 33  CM                        16122 non-null  object
 34  RCM                       16122 non-null  object
 35  RM                        16122 non-null  object
 36  LWB                       16122 non-null  object
 37  LDM                       16122 non-null  object
 38  CDM                       16122 non-null  object
 39  RDM                       16122 non-null  object
 40  RWB                       16122 non-null  object
 41  LB                        16122 non-null  object
 42  LCB                       16122 non-null  object
 43  CB                        16122 non-null  object
 44  RCB                       16122 non-null  object
 45  RB                        16122 non-null  object
 46  Crossing                  16122 non-null  float64
 47  Finishing                 16122 non-null  float64
 48  HeadingAccuracy           16122 non-null  float64
 49  ShortPassing              16122 non-null  float64
 50  Volleys                   16122 non-null  float64
 51  Dribbling                 16122 non-null  float64
 52  Curve                     16122 non-null  float64
 53  FKAccuracy                16122 non-null  float64
 54  LongPassing               16122 non-null  float64
 55  BallControl               16122 non-null  float64
 56  Acceleration              16122 non-null  float64
 57  SprintSpeed               16122 non-null  float64
 58  Agility                   16122 non-null  float64
 59  Reactions                 16122 non-null  float64
 60  Balance                   16122 non-null  float64
 61  ShotPower                 16122 non-null  float64
 62  Jumping                   16122 non-null  float64
 63  Stamina                   16122 non-null  float64
 64  Strength                  16122 non-null  float64
 65  LongShots                 16122 non-null  float64
 66  Aggression                16122 non-null  float64
 67  Interceptions             16122 non-null  float64
 68  Positioning               16122 non-null  float64
 69  Vision                    16122 non-null  float64
 70  Penalties                 16122 non-null  float64
 71  Composure                 16122 non-null  float64
 72  Marking                   16122 non-null  float64
 73  StandingTackle            16122 non-null  float64
 74  SlidingTackle             16122 non-null  float64
 75  Release Clause            14743 non-null  object
dtypes: float64(36), int64(4), object(36)
memory usage: 9.3+ MB

In [96]:
#another columns that needs to change are Wage and Release Clause
df_outfield[['Wage','Release Clause']].head()

    Wage Release Clause
0  €565K        €226.5M
1  €405K        €127.1M
2  €290K        €228.1M
3  €355K        €196.4M
4  €340K        €172.1M

In [97]:
'''
since both Wage and Release Clause column are in the same format, we can use 
the previous function
'''
df_outfield['Wage'] = df_outfield['Wage'].apply(lambda x : EuroConvert(x))
df_outfield['Release Clause'].fillna("None", inplace = True)
df_outfield['Release Clause'] = df_outfield['Release Clause'].apply(lambda x : EuroConvert(x))

In [98]:
df_outfield[['Value','Wage','Release Clause']].head()

         Value      Wage  Release Clause
0  110500000.0  565000.0     226500000.0
1   77000000.0  405000.0     127100000.0
2  118500000.0  290000.0     228100000.0
3  102000000.0  355000.0     196400000.0
4   93000000.0  340000.0     172100000.0

In [99]:
df_outfield.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16122 entries, 0 to 16121
Data columns (total 76 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      16122 non-null  object
 1   Age                       16122 non-null  int64
 2   Nationality               16122 non-null  object
 3   Overall                   16122 non-null  int64
 4   Potential                 16122 non-null  int64
 5   Club                      15926 non-null  object
 6   Value                     16122 non-null  float64
 7   Wage                      16122 non-null  float64
 8   Special                   16122 non-null  int64
 9   Preferred Foot            16122 non-null  object
 10  International Reputation  16122 non-null  float64
 11  Weak Foot                 16122 non-null  float64
 12  Skill Moves               16122 non-null  float64
 13  Work Rate                 16122 non-null  object
 14  Body Type                 16122 non-null  object
 15  Position                  16122 non-null  object
 16  Jersey Number             16122 non-null  float64
 17  Joined                    14751 non-null  object
 18  Height                    16122 non-null  float64
 19  Weight                    16122 non-null  float64
 20  LS                        16122 non-null  object
 21  ST                        16122 non-null  object
 22  RS                        16122 non-null  object
 23  LW                        16122 non-null  object
 24  LF                        16122 non-null  object
 25  CF                        16122 non-null  object
 26  RF                        16122 non-null  object
 27  RW                        16122 non-null  object
 28  LAM                       16122 non-null  object
 29  CAM                       16122 non-null  object
 30  RAM                       16122 non-null  object
 31  LM                        16122 non-null  object
 32  LCM                       16122 non-null  object
 33  CM                        16122 non-null  object
 34  RCM                       16122 non-null  object
 35  RM                        16122 non-null  object
 36  LWB                       16122 non-null  object
 37  LDM                       16122 non-null  object
 38  CDM                       16122 non-null  object
 39  RDM                       16122 non-null  object
 40  RWB                       16122 non-null  object
 41  LB                        16122 non-null  object
 42  LCB                       16122 non-null  object
 43  CB                        16122 non-null  object
 44  RCB                       16122 non-null  object
 45  RB                        16122 non-null  object
 46  Crossing                  16122 non-null  float64
 47  Finishing                 16122 non-null  float64
 48  HeadingAccuracy           16122 non-null  float64
 49  ShortPassing              16122 non-null  float64
 50  Volleys                   16122 non-null  float64
 51  Dribbling                 16122 non-null  float64
 52  Curve                     16122 non-null  float64
 53  FKAccuracy                16122 non-null  float64
 54  LongPassing               16122 non-null  float64
 55  BallControl               16122 non-null  float64
 56  Acceleration              16122 non-null  float64
 57  SprintSpeed               16122 non-null  float64
 58  Agility                   16122 non-null  float64
 59  Reactions                 16122 non-null  float64
 60  Balance                   16122 non-null  float64
 61  ShotPower                 16122 non-null  float64
 62  Jumping                   16122 non-null  float64
 63  Stamina                   16122 non-null  float64
 64  Strength                  16122 non-null  float64
 65  LongShots                 16122 non-null  float64
 66  Aggression                16122 non-null  float64
 67  Interceptions             16122 non-null  float64
 68  Positioning               16122 non-null  float64
 69  Vision                    16122 non-null  float64
 70  Penalties                 16122 non-null  float64
 71  Composure                 16122 non-null  float64
 72  Marking                   16122 non-null  float64
 73  StandingTackle            16122 non-null  float64
 74  SlidingTackle             16122 non-null  float64
 75  Release Clause            16122 non-null  float64
dtypes: float64(38), int64(4), object(34)
memory usage: 9.3+ MB

In [100]:
#for club column, let's see what is going on
df_outfield[df_outfield['Club'].isna()]

                 Name  Age  ... SlidingTackle  Release Clause
399        L. Paredes   24  ...          72.0             0.0
476      A. Granqvist   33  ...          79.0             0.0
601      I. Smolnikov   29  ...          80.0             0.0
775         A. Dzyuba   29  ...          19.0             0.0
849         Luís Neto   30  ...          78.0             0.0
...               ...  ...  ...           ...             ...
15000        M. Smith   18  ...          52.0             0.0
15101  J. Lalrinzuala   19  ...          53.0             0.0
15157    A. Kuruniyan   21  ...          12.0             0.0
15185   G. Kostadinov   27  ...          67.0             0.0
15344        K. Taimi   26  ...          64.0             0.0

[196 rows x 76 columns]

In [101]:
'''by the look of things, these players doesn't have any club, so we'll fill it 
string "No Club"'''

df_outfield['Club'].fillna("No Club", inplace = True)
df_outfield.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16122 entries, 0 to 16121
Data columns (total 76 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      16122 non-null  object
 1   Age                       16122 non-null  int64
 2   Nationality               16122 non-null  object
 3   Overall                   16122 non-null  int64
 4   Potential                 16122 non-null  int64
 5   Club                      16122 non-null  object
 6   Value                     16122 non-null  float64
 7   Wage                      16122 non-null  float64
 8   Special                   16122 non-null  int64
 9   Preferred Foot            16122 non-null  object
 10  International Reputation  16122 non-null  float64
 11  Weak Foot                 16122 non-null  float64
 12  Skill Moves               16122 non-null  float64
 13  Work Rate                 16122 non-null  object
 14  Body Type                 16122 non-null  object
 15  Position                  16122 non-null  object
 16  Jersey Number             16122 non-null  float64
 17  Joined                    14751 non-null  object
 18  Height                    16122 non-null  float64
 19  Weight                    16122 non-null  float64
 20  LS                        16122 non-null  object
 21  ST                        16122 non-null  object
 22  RS                        16122 non-null  object
 23  LW                        16122 non-null  object
 24  LF                        16122 non-null  object
 25  CF                        16122 non-null  object
 26  RF                        16122 non-null  object
 27  RW                        16122 non-null  object
 28  LAM                       16122 non-null  object
 29  CAM                       16122 non-null  object
 30  RAM                       16122 non-null  object
 31  LM                        16122 non-null  object
 32  LCM                       16122 non-null  object
 33  CM                        16122 non-null  object
 34  RCM                       16122 non-null  object
 35  RM                        16122 non-null  object
 36  LWB                       16122 non-null  object
 37  LDM                       16122 non-null  object
 38  CDM                       16122 non-null  object
 39  RDM                       16122 non-null  object
 40  RWB                       16122 non-null  object
 41  LB                        16122 non-null  object
 42  LCB                       16122 non-null  object
 43  CB                        16122 non-null  object
 44  RCB                       16122 non-null  object
 45  RB                        16122 non-null  object
 46  Crossing                  16122 non-null  float64
 47  Finishing                 16122 non-null  float64
 48  HeadingAccuracy           16122 non-null  float64
 49  ShortPassing              16122 non-null  float64
 50  Volleys                   16122 non-null  float64
 51  Dribbling                 16122 non-null  float64
 52  Curve                     16122 non-null  float64
 53  FKAccuracy                16122 non-null  float64
 54  LongPassing               16122 non-null  float64
 55  BallControl               16122 non-null  float64
 56  Acceleration              16122 non-null  float64
 57  SprintSpeed               16122 non-null  float64
 58  Agility                   16122 non-null  float64
 59  Reactions                 16122 non-null  float64
 60  Balance                   16122 non-null  float64
 61  ShotPower                 16122 non-null  float64
 62  Jumping                   16122 non-null  float64
 63  Stamina                   16122 non-null  float64
 64  Strength                  16122 non-null  float64
 65  LongShots                 16122 non-null  float64
 66  Aggression                16122 non-null  float64
 67  Interceptions             16122 non-null  float64
 68  Positioning               16122 non-null  float64
 69  Vision                    16122 non-null  float64
 70  Penalties                 16122 non-null  float64
 71  Composure                 16122 non-null  float64
 72  Marking                   16122 non-null  float64
 73  StandingTackle            16122 non-null  float64
 74  SlidingTackle             16122 non-null  float64
 75  Release Clause            16122 non-null  float64
dtypes: float64(38), int64(4), object(34)
memory usage: 9.3+ MB

In [102]:
df_outfield.head()

                Name  Age  ... SlidingTackle  Release Clause
0           L. Messi   31  ...          26.0     226500000.0
1  Cristiano Ronaldo   33  ...          23.0     127100000.0
2          Neymar Jr   26  ...          33.0     228100000.0
3       K. De Bruyne   27  ...          51.0     196400000.0
4          E. Hazard   27  ...          22.0     172100000.0

[5 rows x 76 columns]

In [103]:
#now let's see the values in other column and check what we can fix or process

col = ['Preferred Foot','Work Rate','Body Type']
for i in col:
 print("Column",i,":\n",df_outfield[i].value_counts(),'\n')

'''
looks like we need to change some values in Body Type column and differentiate
the Work Rate column
'''

Column Preferred Foot :
 Right    12119
Left      4003
Name: Preferred Foot, dtype: int64

Column Work Rate :
 Medium/ Medium    7779
High/ Medium      3170
Medium/ High      1690
High/ High        1015
Medium/ Low        849
High/ Low          697
Low/ Medium        449
Low/ High          439
Low/ Low            34
Name: Work Rate, dtype: int64

Column Body Type :
 Normal                 9143
Lean                   5969
Stocky                 1004
PLAYER_BODY_TYPE_25       1
Shaqiri                   1
Neymar                    1
Messi                     1
C. Ronaldo                1
Akinfenwa                 1
Name: Body Type, dtype: int64

'\nlooks like we need to change some values in Body Type column and differentiate\nthe Work Rate column\n'

In [104]:
'''
now we'll differentiate the workd rate column, left side means attacking work 
rate while right side shows defensive work rate
'''
df_outfield['Work Rate'].head()

0    Medium/ Medium
1         High/ Low
2      High/ Medium
3        High/ High
4      High/ Medium
Name: Work Rate, dtype: object

In [105]:
df_outfield['Attacking Work Rate'] = df_outfield['Work Rate'].str.split('/', expand = True)[0]
df_outfield['Defensive Work Rate'] = df_outfield['Work Rate'].str.split('/', expand = True)[1]
df_outfield[['Work Rate','Attacking Work Rate','Defensive Work Rate']].tail()

            Work Rate Attacking Work Rate Defensive Work Rate
16117  Medium/ Medium              Medium              Medium
16118  Medium/ Medium              Medium              Medium
16119  Medium/ Medium              Medium              Medium
16120  Medium/ Medium              Medium              Medium
16121  Medium/ Medium              Medium              Medium

In [106]:
'''
now that these values have been changed, some columns will be drop and for Body
Type column, upon further search, i can't seem to find what some of the players
body type is, so i'll just drop them
'''
df_outfield.drop(columns = ['Special','Work Rate','Joined','Body Type'], inplace = True)
df_outfield.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16122 entries, 0 to 16121
Data columns (total 74 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      16122 non-null  object
 1   Age                       16122 non-null  int64
 2   Nationality               16122 non-null  object
 3   Overall                   16122 non-null  int64
 4   Potential                 16122 non-null  int64
 5   Club                      16122 non-null  object
 6   Value                     16122 non-null  float64
 7   Wage                      16122 non-null  float64
 8   Preferred Foot            16122 non-null  object
 9   International Reputation  16122 non-null  float64
 10  Weak Foot                 16122 non-null  float64
 11  Skill Moves               16122 non-null  float64
 12  Position                  16122 non-null  object
 13  Jersey Number             16122 non-null  float64
 14  Height                    16122 non-null  float64
 15  Weight                    16122 non-null  float64
 16  LS                        16122 non-null  object
 17  ST                        16122 non-null  object
 18  RS                        16122 non-null  object
 19  LW                        16122 non-null  object
 20  LF                        16122 non-null  object
 21  CF                        16122 non-null  object
 22  RF                        16122 non-null  object
 23  RW                        16122 non-null  object
 24  LAM                       16122 non-null  object
 25  CAM                       16122 non-null  object
 26  RAM                       16122 non-null  object
 27  LM                        16122 non-null  object
 28  LCM                       16122 non-null  object
 29  CM                        16122 non-null  object
 30  RCM                       16122 non-null  object
 31  RM                        16122 non-null  object
 32  LWB                       16122 non-null  object
 33  LDM                       16122 non-null  object
 34  CDM                       16122 non-null  object
 35  RDM                       16122 non-null  object
 36  RWB                       16122 non-null  object
 37  LB                        16122 non-null  object
 38  LCB                       16122 non-null  object
 39  CB                        16122 non-null  object
 40  RCB                       16122 non-null  object
 41  RB                        16122 non-null  object
 42  Crossing                  16122 non-null  float64
 43  Finishing                 16122 non-null  float64
 44  HeadingAccuracy           16122 non-null  float64
 45  ShortPassing              16122 non-null  float64
 46  Volleys                   16122 non-null  float64
 47  Dribbling                 16122 non-null  float64
 48  Curve                     16122 non-null  float64
 49  FKAccuracy                16122 non-null  float64
 50  LongPassing               16122 non-null  float64
 51  BallControl               16122 non-null  float64
 52  Acceleration              16122 non-null  float64
 53  SprintSpeed               16122 non-null  float64
 54  Agility                   16122 non-null  float64
 55  Reactions                 16122 non-null  float64
 56  Balance                   16122 non-null  float64
 57  ShotPower                 16122 non-null  float64
 58  Jumping                   16122 non-null  float64
 59  Stamina                   16122 non-null  float64
 60  Strength                  16122 non-null  float64
 61  LongShots                 16122 non-null  float64
 62  Aggression                16122 non-null  float64
 63  Interceptions             16122 non-null  float64
 64  Positioning               16122 non-null  float64
 65  Vision                    16122 non-null  float64
 66  Penalties                 16122 non-null  float64
 67  Composure                 16122 non-null  float64
 68  Marking                   16122 non-null  float64
 69  StandingTackle            16122 non-null  float64
 70  SlidingTackle             16122 non-null  float64
 71  Release Clause            16122 non-null  float64
 72  Attacking Work Rate       16122 non-null  object
 73  Defensive Work Rate       16122 non-null  object
dtypes: float64(38), int64(3), object(33)
memory usage: 9.1+ MB

In [107]:
'''
finally, let's change the positions rating to integer, note : the '+' sign is 
present since from the start of the game, the players overtime the players improve
in this dataset, we'll use the ratings overtime
'''
df_outfield[['LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW', 'LAM', 'CAM',
       'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM', 'CDM', 'RDM',
       'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB']].head()

     LS    ST    RS    LW    LF    CF  ...   RWB    LB   LCB    CB   RCB    RB
0  88+2  88+2  88+2  92+2  93+2  93+2  ...  64+2  59+2  47+2  47+2  47+2  59+2
1  91+3  91+3  91+3  89+3  90+3  90+3  ...  65+3  61+3  53+3  53+3  53+3  61+3
2  84+3  84+3  84+3  89+3  89+3  89+3  ...  65+3  60+3  47+3  47+3  47+3  60+3
3  82+3  82+3  82+3  87+3  87+3  87+3  ...  77+3  73+3  66+3  66+3  66+3  73+3
4  83+3  83+3  83+3  89+3  88+3  88+3  ...  66+3  60+3  49+3  49+3  49+3  60+3

[5 rows x 26 columns]

In [108]:
def RatingOvertime (x): 
  Rt = x.split('+')
  return int(Rt[0]) + int(Rt[1])

iterate = ['LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW', 'LAM', 'CAM',
       'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM', 'CDM', 'RDM',
       'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB']
for i in iterate : 
  df_outfield[i] = df_outfield[i].apply(lambda x : RatingOvertime(x))

df_outfield[iterate].head()

   LS  ST  RS  LW  LF  CF  RF  RW  ...  CDM  RDM  RWB  LB  LCB  CB  RCB  RB
0  90  90  90  94  95  95  95  94  ...   63   63   66  61   49  49   49  61
1  94  94  94  92  93  93  93  92  ...   64   64   68  64   56  56   56  64
2  87  87  87  92  92  92  92  92  ...   63   63   68  63   50  50   50  63
3  85  85  85  90  90  90  90  90  ...   80   80   80  76   69  69   69  76
4  86  86  86  92  91  91  91  92  ...   66   66   69  63   52  52   52  63

[5 rows x 26 columns]

In [109]:
df_outfield.head()

                Name  Age  ... Attacking Work Rate  Defensive Work Rate
0           L. Messi   31  ...              Medium               Medium
1  Cristiano Ronaldo   33  ...                High                  Low
2          Neymar Jr   26  ...                High               Medium
3       K. De Bruyne   27  ...                High                 High
4          E. Hazard   27  ...                High               Medium

[5 rows x 74 columns]

In [110]:
df_outfield.info()
#now that this outfield_df has already have the right datatype and no null values,
#we'll now do some preprocessing on the GK df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16122 entries, 0 to 16121
Data columns (total 74 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      16122 non-null  object
 1   Age                       16122 non-null  int64
 2   Nationality               16122 non-null  object
 3   Overall                   16122 non-null  int64
 4   Potential                 16122 non-null  int64
 5   Club                      16122 non-null  object
 6   Value                     16122 non-null  float64
 7   Wage                      16122 non-null  float64
 8   Preferred Foot            16122 non-null  object
 9   International Reputation  16122 non-null  float64
 10  Weak Foot                 16122 non-null  float64
 11  Skill Moves               16122 non-null  float64
 12  Position                  16122 non-null  object
 13  Jersey Number             16122 non-null  float64
 14  Height                    16122 non-null  float64
 15  Weight                    16122 non-null  float64
 16  LS                        16122 non-null  int64
 17  ST                        16122 non-null  int64
 18  RS                        16122 non-null  int64
 19  LW                        16122 non-null  int64
 20  LF                        16122 non-null  int64
 21  CF                        16122 non-null  int64
 22  RF                        16122 non-null  int64
 23  RW                        16122 non-null  int64
 24  LAM                       16122 non-null  int64
 25  CAM                       16122 non-null  int64
 26  RAM                       16122 non-null  int64
 27  LM                        16122 non-null  int64
 28  LCM                       16122 non-null  int64
 29  CM                        16122 non-null  int64
 30  RCM                       16122 non-null  int64
 31  RM                        16122 non-null  int64
 32  LWB                       16122 non-null  int64
 33  LDM                       16122 non-null  int64
 34  CDM                       16122 non-null  int64
 35  RDM                       16122 non-null  int64
 36  RWB                       16122 non-null  int64
 37  LB                        16122 non-null  int64
 38  LCB                       16122 non-null  int64
 39  CB                        16122 non-null  int64
 40  RCB                       16122 non-null  int64
 41  RB                        16122 non-null  int64
 42  Crossing                  16122 non-null  float64
 43  Finishing                 16122 non-null  float64
 44  HeadingAccuracy           16122 non-null  float64
 45  ShortPassing              16122 non-null  float64
 46  Volleys                   16122 non-null  float64
 47  Dribbling                 16122 non-null  float64
 48  Curve                     16122 non-null  float64
 49  FKAccuracy                16122 non-null  float64
 50  LongPassing               16122 non-null  float64
 51  BallControl               16122 non-null  float64
 52  Acceleration              16122 non-null  float64
 53  SprintSpeed               16122 non-null  float64
 54  Agility                   16122 non-null  float64
 55  Reactions                 16122 non-null  float64
 56  Balance                   16122 non-null  float64
 57  ShotPower                 16122 non-null  float64
 58  Jumping                   16122 non-null  float64
 59  Stamina                   16122 non-null  float64
 60  Strength                  16122 non-null  float64
 61  LongShots                 16122 non-null  float64
 62  Aggression                16122 non-null  float64
 63  Interceptions             16122 non-null  float64
 64  Positioning               16122 non-null  float64
 65  Vision                    16122 non-null  float64
 66  Penalties                 16122 non-null  float64
 67  Composure                 16122 non-null  float64
 68  Marking                   16122 non-null  float64
 69  StandingTackle            16122 non-null  float64
 70  SlidingTackle             16122 non-null  float64
 71  Release Clause            16122 non-null  float64
 72  Attacking Work Rate       16122 non-null  object
 73  Defensive Work Rate       16122 non-null  object
dtypes: float64(38), int64(29), object(7)
memory usage: 9.1+ MB

## Preprocessing on GK DF

In [111]:
df_GK.head()

    Unnamed: 0           Name  Age  ... GKPositioning  GKReflexes  Release Clause
3            3         De Gea   27  ...          88.0        94.0         €138.6M
9            9       J. Oblak   25  ...          88.0        89.0         €144.5M
18          18  M. ter Stegen   26  ...          85.0        90.0         €123.3M
19          19    T. Courtois   26  ...          86.0        88.0         €113.7M
22          22       M. Neuer   32  ...          87.0        87.0          €62.7M

[5 rows x 83 columns]

In [112]:
df_GK.info()
df_GK.columns

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2025 entries, 3 to 18198
Data columns (total 83 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                2025 non-null   int64
 1   Name                      2025 non-null   object
 2   Age                       2025 non-null   int64
 3   Nationality               2025 non-null   object
 4   Overall                   2025 non-null   int64
 5   Potential                 2025 non-null   int64
 6   Club                      1992 non-null   object
 7   Value                     2025 non-null   object
 8   Wage                      2025 non-null   object
 9   Special                   2025 non-null   int64
 10  Preferred Foot            2025 non-null   object
 11  International Reputation  2025 non-null   float64
 12  Weak Foot                 2025 non-null   float64
 13  Skill Moves               2025 non-null   float64
 14  Work Rate                 2025 non-null   object
 15  Body Type                 2025 non-null   object
 16  Position                  2025 non-null   object
 17  Jersey Number             2025 non-null   float64
 18  Joined                    1903 non-null   object
 19  Loaned From               89 non-null     object
 20  Height                    2025 non-null   object
 21  Weight                    2025 non-null   object
 22  LS                        0 non-null      object
 23  ST                        0 non-null      object
 24  RS                        0 non-null      object
 25  LW                        0 non-null      object
 26  LF                        0 non-null      object
 27  CF                        0 non-null      object
 28  RF                        0 non-null      object
 29  RW                        0 non-null      object
 30  LAM                       0 non-null      object
 31  CAM                       0 non-null      object
 32  RAM                       0 non-null      object
 33  LM                        0 non-null      object
 34  LCM                       0 non-null      object
 35  CM                        0 non-null      object
 36  RCM                       0 non-null      object
 37  RM                        0 non-null      object
 38  LWB                       0 non-null      object
 39  LDM                       0 non-null      object
 40  CDM                       0 non-null      object
 41  RDM                       0 non-null      object
 42  RWB                       0 non-null      object
 43  LB                        0 non-null      object
 44  LCB                       0 non-null      object
 45  CB                        0 non-null      object
 46  RCB                       0 non-null      object
 47  RB                        0 non-null      object
 48  Crossing                  2025 non-null   float64
 49  Finishing                 2025 non-null   float64
 50  HeadingAccuracy           2025 non-null   float64
 51  ShortPassing              2025 non-null   float64
 52  Volleys                   2025 non-null   float64
 53  Dribbling                 2025 non-null   float64
 54  Curve                     2025 non-null   float64
 55  FKAccuracy                2025 non-null   float64
 56  LongPassing               2025 non-null   float64
 57  BallControl               2025 non-null   float64
 58  Acceleration              2025 non-null   float64
 59  SprintSpeed               2025 non-null   float64
 60  Agility                   2025 non-null   float64
 61  Reactions                 2025 non-null   float64
 62  Balance                   2025 non-null   float64
 63  ShotPower                 2025 non-null   float64
 64  Jumping                   2025 non-null   float64
 65  Stamina                   2025 non-null   float64
 66  Strength                  2025 non-null   float64
 67  LongShots                 2025 non-null   float64
 68  Aggression                2025 non-null   float64
 69  Interceptions             2025 non-null   float64
 70  Positioning               2025 non-null   float64
 71  Vision                    2025 non-null   float64
 72  Penalties                 2025 non-null   float64
 73  Composure                 2025 non-null   float64
 74  Marking                   2025 non-null   float64
 75  StandingTackle            2025 non-null   float64
 76  SlidingTackle             2025 non-null   float64
 77  GKDiving                  2025 non-null   float64
 78  GKHandling                2025 non-null   float64
 79  GKKicking                 2025 non-null   float64
 80  GKPositioning             2025 non-null   float64
 81  GKReflexes                2025 non-null   float64
 82  Release Clause            1900 non-null   object
dtypes: float64(38), int64(5), object(40)
memory usage: 1.3+ MB

Index(['Unnamed: 0', 'Name', 'Age', 'Nationality', 'Overall', 'Potential',
       'Club', 'Value', 'Wage', 'Special', 'Preferred Foot',
       'International Reputation', 'Weak Foot', 'Skill Moves', 'Work Rate',
       'Body Type', 'Position', 'Jersey Number', 'Joined', 'Loaned From',
       'Height', 'Weight', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW',
       'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM',
       'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'Crossing',
       'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling',
       'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling',
       'GKKicking', 'GKPositioning', 'GKReflexes', 'Release Clause'],
      dtype='object')

In [113]:
#let's start by dropping columns that we don't need and resetting the index in this df
df_GK.reset_index(drop=True, inplace = True)
df_GK.drop(columns = ['Unnamed: 0', 'Special', 'Joined', 'Loaned From',
                      'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW',
                      'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM',
                      'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'Crossing',
                      ], inplace = True)
df_GK.head()

            Name  Age Nationality  ...  GKPositioning  GKReflexes Release Clause
0         De Gea   27       Spain  ...           88.0        94.0        €138.6M
1       J. Oblak   25    Slovenia  ...           88.0        89.0        €144.5M
2  M. ter Stegen   26     Germany  ...           85.0        90.0        €123.3M
3    T. Courtois   26     Belgium  ...           86.0        88.0        €113.7M
4       M. Neuer   32     Germany  ...           87.0        87.0         €62.7M

[5 rows x 52 columns]

In [114]:
df_GK.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2025 entries, 0 to 2024
Data columns (total 52 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      2025 non-null   object
 1   Age                       2025 non-null   int64
 2   Nationality               2025 non-null   object
 3   Overall                   2025 non-null   int64
 4   Potential                 2025 non-null   int64
 5   Club                      1992 non-null   object
 6   Value                     2025 non-null   object
 7   Wage                      2025 non-null   object
 8   Preferred Foot            2025 non-null   object
 9   International Reputation  2025 non-null   float64
 10  Weak Foot                 2025 non-null   float64
 11  Skill Moves               2025 non-null   float64
 12  Work Rate                 2025 non-null   object
 13  Body Type                 2025 non-null   object
 14  Position                  2025 non-null   object
 15  Jersey Number             2025 non-null   float64
 16  Height                    2025 non-null   object
 17  Weight                    2025 non-null   object
 18  Finishing                 2025 non-null   float64
 19  HeadingAccuracy           2025 non-null   float64
 20  ShortPassing              2025 non-null   float64
 21  Volleys                   2025 non-null   float64
 22  Dribbling                 2025 non-null   float64
 23  Curve                     2025 non-null   float64
 24  FKAccuracy                2025 non-null   float64
 25  LongPassing               2025 non-null   float64
 26  BallControl               2025 non-null   float64
 27  Acceleration              2025 non-null   float64
 28  SprintSpeed               2025 non-null   float64
 29  Agility                   2025 non-null   float64
 30  Reactions                 2025 non-null   float64
 31  Balance                   2025 non-null   float64
 32  ShotPower                 2025 non-null   float64
 33  Jumping                   2025 non-null   float64
 34  Stamina                   2025 non-null   float64
 35  Strength                  2025 non-null   float64
 36  LongShots                 2025 non-null   float64
 37  Aggression                2025 non-null   float64
 38  Interceptions             2025 non-null   float64
 39  Positioning               2025 non-null   float64
 40  Vision                    2025 non-null   float64
 41  Penalties                 2025 non-null   float64
 42  Composure                 2025 non-null   float64
 43  Marking                   2025 non-null   float64
 44  StandingTackle            2025 non-null   float64
 45  SlidingTackle             2025 non-null   float64
 46  GKDiving                  2025 non-null   float64
 47  GKHandling                2025 non-null   float64
 48  GKKicking                 2025 non-null   float64
 49  GKPositioning             2025 non-null   float64
 50  GKReflexes                2025 non-null   float64
 51  Release Clause            1900 non-null   object
dtypes: float64(37), int64(3), object(12)
memory usage: 822.8+ KB

In [115]:
# now, same as the outfield DF, we will apply the same function to these columns
df_GK['Height'] = df_GK['Height'].apply(lambda x : ConvertHeight(x))

df_GK['Weight'] = df_GK['Weight'].str[:-3].astype(float)
df_GK['Weight'] = round(df_GK['Weight'] * 0.453592,2)

df_GK['Value'] = df_GK['Value'].apply(lambda x: EuroConvert(x))
df_GK['Wage'] = df_GK['Wage'].apply(lambda x : EuroConvert(x))
df_GK['Release Clause'].fillna("None", inplace = True)
df_GK['Release Clause'] = df_GK['Release Clause'].apply(lambda x : EuroConvert(x))

In [116]:
df_GK.head()

            Name  Age Nationality  ...  GKPositioning  GKReflexes Release Clause
0         De Gea   27       Spain  ...           88.0        94.0    138600000.0
1       J. Oblak   25    Slovenia  ...           88.0        89.0    144500000.0
2  M. ter Stegen   26     Germany  ...           85.0        90.0    123300000.0
3    T. Courtois   26     Belgium  ...           86.0        88.0    113700000.0
4       M. Neuer   32     Germany  ...           87.0        87.0     62700000.0

[5 rows x 52 columns]

In [117]:
#check the total of missing values
df_GK.isnull().sum().sort_values(ascending = False)

Club                        33
Release Clause               0
Body Type                    0
Curve                        0
Dribbling                    0
Volleys                      0
ShortPassing                 0
HeadingAccuracy              0
Finishing                    0
Weight                       0
Height                       0
Jersey Number                0
Position                     0
Work Rate                    0
GKReflexes                   0
Skill Moves                  0
Weak Foot                    0
International Reputation     0
Preferred Foot               0
Wage                         0
Value                        0
Potential                    0
Overall                      0
Nationality                  0
Age                          0
FKAccuracy                   0
LongPassing                  0
BallControl                  0
Positioning                  0
GKPositioning                0
GKKicking                    0
GKHandling                   0
GKDiving                     0
SlidingTackle                0
StandingTackle               0
Marking                      0
Composure                    0
Penalties                    0
Vision                       0
Interceptions                0
Acceleration                 0
Aggression                   0
LongShots                    0
Strength                     0
Stamina                      0
Jumping                      0
ShotPower                    0
Balance                      0
Reactions                    0
Agility                      0
SprintSpeed                  0
Name                         0
dtype: int64

In [118]:
df_GK[df_GK['Club'].isna()]

                 Name  Age  ... GKReflexes  Release Clause
68           A. Lunev   26  ...       85.0             0.0
119         J. Villar   41  ...       77.0             0.0
259       M. Banguera   32  ...       77.0             0.0
277         M. Borjan   30  ...       72.0             0.0
331       A. Silbeira   22  ...       72.0             0.0
340         D. Dibusz   27  ...       74.0             0.0
426          E. Conde   35  ...       70.0             0.0
445           D. Keet   28  ...       71.0             0.0
493       J. Silbeira   22  ...       72.0             0.0
514        B. Sangaré   32  ...       68.0             0.0
516    H. Halldórsson   34  ...       71.0             0.0
529         C. Cáceda   26  ...       72.0             0.0
532           R. Romo   28  ...       73.0             0.0
576         S. Ekramy   34  ...       79.0             0.0
594       A. Kovácsik   27  ...       75.0             0.0
611       J. Carvallo   32  ...       61.0             0.0
629       J. Koprivec   29  ...       72.0             0.0
633          P. Iliev   26  ...       75.0             0.0
747         B. Mitrev   31  ...       68.0             0.0
754        S. Gbohouo   29  ...       68.0             0.0
760       R. Williams   26  ...       70.0             0.0
811        M. Crépeau   24  ...       69.0             0.0
831     M. El-Shenawy   29  ...       66.0             0.0
883       G. Viscarra   25  ...       67.0             0.0
974         H. Piedra   25  ...       67.0             0.0
1055      R. Quiñonez   26  ...       66.0             0.0
1203  G. Singh Sandhu   26  ...       64.0             0.0
1462   B. Makendzhiev   29  ...       58.0             0.0
1506         A. Busti   18  ...       59.0             0.0
1554      M. Crocombe   24  ...       63.0             0.0
1566         A. Singh   25  ...       60.0             0.0
1756        F. Schram   23  ...       57.0             0.0
1810         V. Kaith   21  ...       53.0             0.0

[33 rows x 52 columns]

In [119]:
# now, we'll fill the missing values and change some of the data
df_GK['Club'].fillna("No Club",inplace = True)

df_GK['Attacking Work Rate'] = df_GK['Work Rate'].str.split('/', expand = True)[0]
df_GK['Defensive Work Rate'] = df_GK['Work Rate'].str.split('/', expand = True)[1]
df_GK.drop(columns=['Work Rate'], inplace = True)

In [120]:
#lets check the unique values in body type column
df_GK['Body Type'].value_counts()

Normal      1445
Lean         443
Stocky       136
Courtois       1
Name: Body Type, dtype: int64

In [121]:
#so looks like that the column only have 1 different body type, however i decided to drop it anyway
# since after googling, can't seem to find what courtois body type is
df_GK.drop(columns=['Body Type'], inplace = True)

In [122]:
df_GK.head()

            Name  Age  ... Attacking Work Rate  Defensive Work Rate
0         De Gea   27  ...              Medium               Medium
1       J. Oblak   25  ...              Medium               Medium
2  M. ter Stegen   26  ...              Medium               Medium
3    T. Courtois   26  ...              Medium               Medium
4       M. Neuer   32  ...              Medium               Medium

[5 rows x 52 columns]

In [123]:
df_GK.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2025 entries, 0 to 2024
Data columns (total 52 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      2025 non-null   object
 1   Age                       2025 non-null   int64
 2   Nationality               2025 non-null   object
 3   Overall                   2025 non-null   int64
 4   Potential                 2025 non-null   int64
 5   Club                      2025 non-null   object
 6   Value                     2025 non-null   float64
 7   Wage                      2025 non-null   float64
 8   Preferred Foot            2025 non-null   object
 9   International Reputation  2025 non-null   float64
 10  Weak Foot                 2025 non-null   float64
 11  Skill Moves               2025 non-null   float64
 12  Position                  2025 non-null   object
 13  Jersey Number             2025 non-null   float64
 14  Height                    2025 non-null   float64
 15  Weight                    2025 non-null   float64
 16  Finishing                 2025 non-null   float64
 17  HeadingAccuracy           2025 non-null   float64
 18  ShortPassing              2025 non-null   float64
 19  Volleys                   2025 non-null   float64
 20  Dribbling                 2025 non-null   float64
 21  Curve                     2025 non-null   float64
 22  FKAccuracy                2025 non-null   float64
 23  LongPassing               2025 non-null   float64
 24  BallControl               2025 non-null   float64
 25  Acceleration              2025 non-null   float64
 26  SprintSpeed               2025 non-null   float64
 27  Agility                   2025 non-null   float64
 28  Reactions                 2025 non-null   float64
 29  Balance                   2025 non-null   float64
 30  ShotPower                 2025 non-null   float64
 31  Jumping                   2025 non-null   float64
 32  Stamina                   2025 non-null   float64
 33  Strength                  2025 non-null   float64
 34  LongShots                 2025 non-null   float64
 35  Aggression                2025 non-null   float64
 36  Interceptions             2025 non-null   float64
 37  Positioning               2025 non-null   float64
 38  Vision                    2025 non-null   float64
 39  Penalties                 2025 non-null   float64
 40  Composure                 2025 non-null   float64
 41  Marking                   2025 non-null   float64
 42  StandingTackle            2025 non-null   float64
 43  SlidingTackle             2025 non-null   float64
 44  GKDiving                  2025 non-null   float64
 45  GKHandling                2025 non-null   float64
 46  GKKicking                 2025 non-null   float64
 47  GKPositioning             2025 non-null   float64
 48  GKReflexes                2025 non-null   float64
 49  Release Clause            2025 non-null   float64
 50  Attacking Work Rate       2025 non-null   object
 51  Defensive Work Rate       2025 non-null   object
dtypes: float64(42), int64(3), object(7)
memory usage: 822.8+ KB